.dg-important {
    color: var(--clr-primary);
}

// Bug with Firefox (maybe other browsers)
// The clamp/calc does not work for all class="dg-container"
// The browser needs a rule for each container on the page
// Otherwise, it only calculates the very first instance
.dg-container {
    padding: 0 clamp(40px, calc(40px + 52.514792899408285 * ((100vw - 426px) / 426)), 165px);
}

.dg-container-2 {
    padding: 0 clamp(40px, calc(40px + 52.514792899408285 * ((100vw - 426px) / 426)), 165px);
}

.dg-container-3 {
    padding: 0 clamp(40px, calc(40px + 52.514792899408285 * ((100vw - 426px) / 426)), 165px);
}

.dg-container-4 {
    padding: 0 clamp(40px, calc(40px + 52.514792899408285 * ((100vw - 426px) / 426)), 165px);
}

.dg-container-5 {
    padding: 0 clamp(40px, calc(40px + 52.514792899408285 * ((100vw - 426px) / 426)), 165px);
}

.dg-container-6 {
    padding: 0 clamp(40px, calc(40px + 52.514792899408285 * ((100vw - 426px) / 426)), 165px);
}

div[class^="dg-container"] {
    margin: 0 auto;
    max-width: 1920px;
}

.dg-section-dark {
    h1,h2,h3,h4,h5,h6,span,p {
        color: var(--clr-white);
    }

    background-color: var(--clr-dark);
}

.dg-no-overflow {
    overflow: hidden;
}

.dg-flex-centered {
    display: flex;
    justify-content: center;
}

.dg-pink-text {
    color: var(--clr-primary) !important;
    font-family: inherit;
}

.dg-content-wrapper {
    position: relative;
}

.dg-section-title {
    --dg-section-title-line-height: 14px;

    position: absolute;
    font-family: "Neue Haas Grotesk Display", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: var(--dg-section-title-line-height);
    letter-spacing: 2px;
    font-weight: bold;

    transform: rotate(-90deg) translate(calc(-100% + var(--dg-section-title-line-height)/2 ), 100%);
    transform-origin: bottom left;
}

section {
    h2 {
        font-size: clamp(60px, calc(60px + 10.08284023668639 * ((100vw - 426px) / 426)), 84px);
        line-height: clamp(56px, calc(56px + 10.08284023668639 * ((100vw - 426px) / 426)), 80px);
        margin-bottom: 2rem;    
    }

    p {
        margin-bottom: 4rem;
        font-size: clamp(20px, calc(20px + 1.6804733727810652 * ((100vw - 426px) / 426)), 24px);
        line-height: clamp(32px, calc(32px + 1.6804733727810652 * ((100vw - 426px) / 426)), 36px);
    }
}