.dg-actions {
    h2 {
        line-height: clamp(56px, 6.181vw, 120px);
        font-size: clamp(60px, 5.833vw, 120px);
        margin-bottom: clamp(32px, calc(32px + 36.97041420118343 * ((100vw - 426px) / 426)), 120px);
    }

    h2:first-child {
        padding-left: clamp(0px, calc(0px + 297.8639053254438 * ((100vw - 426px) / 426)), 709px);
    }

    h2:nth-child(2) {
        padding-left: clamp(0px, calc(0px + 189.05325443786984 * ((100vw - 426px) / 426)), 450px);
    }

    h2:last-child {
        padding-left: clamp(0px, calc(0px + 67.63905325443787 * ((100vw - 426px) / 426)), 161px);
    }
}