.dg-actions {
    h2 {
        line-height: clamp(56px, calc(56px + 10.08284023668639 * ((100vw - 426px) / 426)), 80px);
        font-size: clamp(60px, calc(60px + 10.08284023668639 * ((100vw - 426px) / 426)), 84px);
        margin-bottom: clamp(32px, calc(32px + 36.97041420118343 * ((100vw - 426px) / 426)), 120px);
        max-width: clamp(650px, calc(650px + 121.42857142857143 * ((100vw - 1020px) / 1020)), 700px);
    }

    .dg-container-3 {
        display: flex;
        flex-direction: column;
        h2:first-child {
            align-self: flex-end;
        }

        h2:nth-child(2) {
            align-self: center;
        }
    }
}