.dg-branding {
    padding-top: clamp(133px, calc(133px + 42.85207100591716 * ((100vw - 426px) / 426)), 235px);
    position: relative;

    section {
        position: relative;
        z-index: 2;
        padding-left: clamp(0px, calc(0px + 169.7278106508876 * ((100vw - 426px) / 426)), 404px);
        
        h2 {
            max-width: clamp(273px, calc(273px + 116.37278106508876 * ((100vw - 426px) / 426)), 550px);
            line-height: clamp(56px, calc(56px + 10.08284023668639 * ((100vw - 426px) / 426)), 80px);
            font-size: clamp(60px, calc(60px + 10.08284023668639 * ((100vw - 426px) / 426)), 84px);
            margin-bottom: clamp(25px, calc(25px + 4.621301775147929 * ((100vw - 426px) / 426)), 36px);
        }

        p {
            padding-right: 40px;
            max-width: clamp(383px, calc(383px + 95.36686390532545 * ((100vw - 426px) / 426)), 610px);
            font-size: clamp(20px, calc(20px + 1.6804733727810652 * ((100vw - 426px) / 426)), 24px);
        }
    }
}