.dg-collaborate {
    padding-top: 167px;
    padding-bottom: 232px;

    section {
        padding-left: clamp(40px, calc(40px + 216.1765 * ((100vw - 420px) / 420)), 565px);
        max-width: calc(clamp(40px, calc(40px + 216.1765 * ((100vw - 420px) / 420)), 565px) + calc(324px + 105.41176 * ((100vw - 420px) / 420)));
    }

    h2 {
        margin-bottom: 2rem;
        line-height: clamp(56px, 6.181vw, 120px);
        font-size: clamp(60px, 5.833vw, 120px);
    }

    p {
        margin-bottom: 4rem;
        font-size: clamp(20px, 1.667vw, 32px);
    }
}