.dg-cta {
    padding-top: clamp(87px, calc(87px + 88.22485207100591 * ((100vw - 426px) / 426)), 297px);
    margin-left: clamp(40px, calc(40px + 216.1765 * ((100vw - 420px) / 420)), 565px);
    max-width: clamp(268px, calc(268px + 269.71597633136093 * ((100vw - 426px) / 426)), 910px);

    h2 {
        margin-bottom: 2rem;
        line-height: clamp(56px, 6.181vw, 120px);
        font-size: clamp(60px, 5.833vw, 120px);
    }

    p {
        margin-bottom: 4rem;
        font-size: clamp(20px, 1.667vw, 32px);
    }

    .dg-button-wrap {
        position: relative;
        left:  clamp(0px, calc(118px + -49.57396449704142 * ((100vw - 426px) / 426)), 118px);
    }
}