.dg-cta {
    position: relative;
    padding-top: clamp(87px, calc(87px + 88.22485207100591 * ((100vw - 426px) / 426)), 297px);
    padding-bottom: clamp(69px, calc(69px + 35.710059171597635 * ((100vw - 426px) / 426)), 154px);

    .dg-container-8 {
        position: relative;
        z-index: 1;
    }

    .dg-wrapper {
        margin-left: clamp(0px, calc(0px + 188.63313609467457 * ((100vw - 426px) / 426)), 449px);
        max-width: 470px;
    }

    h2 {
        margin-bottom: 2rem;
        line-height: clamp(56px, calc(56px + 10.08284023668639 * ((100vw - 426px) / 426)), 80px);
        font-size: clamp(60px, calc(60px + 10.08284023668639 * ((100vw - 426px) / 426)), 84px);
    }

    p {
        margin-bottom: 4rem;
        font-size: clamp(20px, 1.667vw, 32px);
    }

    .dg-button-wrap {
        position: relative;
        left:  clamp(0px, calc(118px + -49.57396449704142 * ((100vw - 426px) / 426)), 118px);
    }
}