.dg-process {
    .dg-section-dark {
        padding: 60px 0;
        position: absolute;
        left: 0;
        width: 100vw; // Make sure it goes off the screen no matter what
    }
} 

.dg-process {
    --grid-columns: auto-fit;

    @media screen and (min-width: 1440px) {
        --grid-columns: 2;

        .content-wrapper section {
            max-width: clamp(400px, calc(400px + 300 * ((100vw - 1440px) / 1440)), 500px);;
        }
    }

    .dg-wrapper {
        display: grid;
        grid-template-columns: repeat(var(--grid-columns, auto-fit), minmax(clamp(311px, calc(311px + 14.284023668639053 * ((100vw - 426px) / 426)), 345px), 1fr));
        margin-left: clamp(40px, calc(40px + 80.24260355029585 * ((100vw - 426px) / 426)), 231px);
        padding-right: 40px;
        padding-top: 85px;
        padding-bottom: 85px;
        gap: 64px;
        position: relative;

        div:last-child {
            h3 {
                font-size: 52px;
                line-height: 62px;
                max-width: 177px;
            }
        }

        .dg-section-title {
            top: 85px;
            left: clamp(-112px, calc(-25px - 36.55029585798817 * ((100vw - 426px) / 426)), -25px);
        }

        .dg-button-wrap {
            position: absolute;
            bottom: 207px;
            right: 0;
            transform: translateX(50%);
        }
    }

    @media screen and (max-width: 1100px) {
        --grid-columns: 1;

        .dg-wrapper {
            .dg-button-wrap {
                bottom: 0px;
                right: unset;
                left: clamp(0px, calc(0px + 189.61424332344214 * ((100vw - 426px) / 426)), 300px);
                transform: translateY(50%);
            }
        }
    }

    span.dg-process-number {
        display: block;
        font-family: "Rama Gothic E", sans-serif;
        text-transform: uppercase;
        font-size: 84px;
        margin-bottom: 36px;
        line-height: 80px;
    }

    h3 {
        font-family: "DM Serif Text", serif;
        text-transform: unset;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 1rem;
    }

    p, span:not(.dg-process-number):not(.dg-section-title) {
        font-family: "Neue Haas Grotesk Display", sans-serif;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.72px;
    }
}