.dg-services {
    padding: 
        60px 
        clamp(45px, calc(45px + 16.80473372781065 * ((100vw - 426px) / 426)), 85px)
        0
    ;

    h3 {
        font-family: "DM Serif Text", serif;
        font-size: clamp(20px, 1.667vw, 32px);
        text-transform: none;
        margin-bottom: 25px;
    }

    p {
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.72px;
        opacity: 0.76;
    }

    .dg-content-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        padding-bottom: 60px;
        column-gap: 60px;

        .dg-button-wrap {
            position: absolute;
            bottom: 0;
            right: clamp(23px, calc(23px + 7.1420118343195265 * ((100vw - 426px) / 426)), 40px);
            transform: translateY(50%);
        }

        @media screen and (max-width: 910px) {
            grid-template-areas:
                "header-1"
                "content-1"
                "header-2"
                "content-2"
                "header-3"
                "content-3";
            grid-template-columns: 1fr;
            
            h3 {
                margin-top: 32px;
                margin-bottom: 18px;

                &.dg-service-1 {
                    grid-area: header-1;
                }
                &.dg-service-2 {
                    grid-area: header-2;
                }
                &.dg-service-3 {
                    grid-area: header-3;
                }
            }

            p {
                &.dg-service-1 {
                    grid-area: content-1;
                }
                &.dg-service-2 {
                    grid-area: content-2;
                }
                &.dg-service-3 {
                    grid-area: content-3;
                }
            }
        }
    }
}