.dg-services {
    .dg-container-2 {
        position: relative;
    }

    .dg-section-dark {
        padding: 60px 0;
        width: 100vw; // Make sure it goes off the screen no matter what
        position: static;
        margin-left: clamp(-36px, calc(0px - 15.124260355029586 * ((100vw - 426px) / 426)), 0px);
    }

    h3 {
        font-family: "DM Serif Text", serif;
        font-size: clamp(20px, 1.667vw, 32px);
        text-transform: none;
        margin-bottom: 25px;
    }

    p {
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.72px;
        opacity: 0.76;
        margin: 0;
    }

    .dg-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        column-gap: 60px;
        width: 100%;
        padding-left: clamp(46px, calc(46px + 16.384615384615387 * ((100vw - 426px) / 426)), 85px);

        .dg-button-wrap {
            position: absolute;
            bottom: 0;
            right: clamp(68.5px, calc(68.5px + 56.08579881656805 * ((100vw - 426px) / 426)), 202px);
            transform: translateY(50%);
        }

        @media screen and (max-width: 910px) {
            grid-template-areas:
                "header-1"
                "content-1"
                "header-2"
                "content-2"
                "header-3"
                "content-3";
            grid-template-columns: 1fr;
            
            h3 {
                margin-top: 32px;
                margin-bottom: 18px;

                &.dg-service-1 {
                    grid-area: header-1;
                }
                &.dg-service-2 {
                    grid-area: header-2;
                }
                &.dg-service-3 {
                    grid-area: header-3;
                }
            }

            p {
                &.dg-service-1 {
                    grid-area: content-1;
                }
                &.dg-service-2 {
                    grid-area: content-2;
                }
                &.dg-service-3 {
                    grid-area: content-3;
                }
            }
        }
    }
}