.dg-testimonial {
    position: relative;
    padding-top: clamp(112px, calc(112px + 39.49112426035503 * ((100vw - 426px) / 426)), 206px);

    .dg-wrapper {
        margin-left: clamp(0px, calc(0px + 48.31360946745562 * ((100vw - 426px) / 426)), 115px);
    }

    h2 {
        max-width: clamp(273px, calc(273px + 116.37278106508876 * ((100vw - 426px) / 426)), 550px);
        line-height: clamp(56px, calc(56px + 10.08284023668639 * ((100vw - 426px) / 426)), 80px);
        font-size: clamp(60px, calc(60px + 10.08284023668639 * ((100vw - 426px) / 426)), 84px);
        margin-bottom: clamp(25px, calc(25px + 4.621301775147929 * ((100vw - 426px) / 426)), 36px);
    }

    p {
        max-width: clamp(338px, calc(338px + 105.86982248520711 * ((100vw - 426px) / 426)), 590px);
        font-size: clamp(20px, calc(20px + 1.6804733727810652 * ((100vw - 426px) / 426)), 24px);
        margin-bottom: 2rem;
    }

    .dg-testimonial-author {
        display: block;
        font-family: "Neue Haas Grotesk Display", sans-serif;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
    }
}